.main-page{
   height: -webkit-fill-available;
   background: url(../../assets/welcomeBackground.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.app-title{
   color: #eab42c;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 40px;
   font-weight: 900;
}

button{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
margin-left: 50px;
background-color: rgb(240, 157, 74);
width: 100px;
//color: white;
   &:hover{
   background-color: black;
   color: gold;
   transition: background-color .5s;
   }
}
