.movie-card{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 15px;
   padding: 1rem ;
   background: violet;
   height: -webkit-fill-available;
}
.mat-card{
   margin: 2px;
   background-color: rgba(0, 0, 0, 0.796);
   height: fit-content;
}
.card-title, .card-subtitle{
   color: white;
   position: relative;
   bottom: 20px;
   margin-bottom: 6px;
}

button{
   color: white;
   font-size: 10.5px;
   margin-right: 4px;
}
.favorite{
   display: flex;
   justify-content: flex-end;
   color: white;
   &:hover{
      cursor: pointer;
   }
}
