.main-page{
    height: 100vh;
    background: url(.././assets/welcomeBackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-title{
    color: #eab42c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    bottom: 90px;
    left: 325px;
}

button{
display: inline-block;
margin-left: 60px;
background-color: rgb(240, 157, 74);
width: 100px;
//color: white;
    &:hover{
    background-color: black;
    color: gold;
    transition: background-color .5s;
    }
}
